<template>
    <section>
        <h1>I am <span class="text-primary">Vishnu Raj</span>.</h1>
        <h3><span class="text-secondary">And this page holds some information about me.</span></h3>
    </section>
  </template>
<script setup lang="ts">
useHead({
  title: 'Vishnu Raj.',
  meta: [
    { name: 'description', content: 'My amazing site.' }
  ],
  bodyAttrs: {
    class: 'test'
  },
  script: [ { innerHTML: 'console.log(\'Hello world\')' } ]
})
</script>